{% extends 'base.html' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Shaheen Clinic Page (Supervisor)</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="breadcrumb-item active">Shaheen Clinic Supervisor</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card glass-box">
                    <div class="card-header">
                        <h3 class="card-title">Shaheen Clinic Content</h3>
                    </div>
                    <div class="card-body">
                        {{ shaheen_clinic_content_supervisor | safe }}  {# Use | safe to render HTML #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}